doctype transitional
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  title
  style(type='text/css', rel='stylesheet', media='all').
    /* Base ------------------------------ */
    @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&amp;display=swap");
    body {
    width: 100% !important;
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: none;
    }
    a {
    color: #3869D4;
    }
    a img {
    border: none;
    }
    td {
    word-break: break-word;
    }
    .preheader {
    display: none !important;
    visibility: hidden;
    mso-hide: all;
    font-size: 1px;
    line-height: 1px;
    max-height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    }
    /* Type ------------------------------ */
    body,
    td,
    th {
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    }
    h1 {
    margin-top: 0;
    color: #333333;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    }
    h2 {
    margin-top: 0;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    }
    h3 {
    margin-top: 0;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    }
    td,
    th {
    font-size: 16px;
    }
    p,
    ul,
    ol,
    blockquote {
    margin: .4em 0 1.1875em;
    font-size: 16px;
    line-height: 1.625;
    }
    p.sub {
    font-size: 13px;
    }
    /* Utilities ------------------------------ */
    .align-right {
    text-align: right;
    }
    .align-left {
    text-align: left;
    }
    .align-center {
    text-align: center;
    }
    /* Buttons ------------------------------ */
    .button {
    background-color: #aa44aa;
    border-top: 10px solid #aa44aa;
    border-right: 18px solid #aa44aa;
    border-bottom: 10px solid #aa44aa;
    border-left: 18px solid #aa44aa;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    }
    @media only screen and (max-width: 500px) {
    .button {
    width: 100% !important;
    text-align: center !important;
    }
    }
    /* Attribute list ------------------------------ */
    .attributes {
    margin: 0 0 21px;
    }
    .attributes_content {
    background-color: #F4F4F7;
    padding: 16px;
    }
    .attributes_item {
    padding: 0;
    }
    /* Data table ------------------------------ */
    body {
    background-color: #F2F4F6;
    color: #51545E;
    }
    p {
    color: #51545E;
    }
    .email-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    -premailer-width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    background-color: #F2F4F6;
    }
    .email-content {
    width: 100%;
    margin: 0;
    padding: 0;
    -premailer-width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    }
    /* Masthead ----------------------- */
    .email-masthead {
    padding: 25px 0;
    text-align: center;
    }
    .email-masthead_logo {
    width: 94px;
    }
    .email-masthead_name {
    font-size: 16px;
    font-weight: bold;
    color: #A8AAAF;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    }
    /* Body ------------------------------ */
    .email-body {
    width: 100%;
    margin: 0;
    padding: 0;
    -premailer-width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    }
    .email-body_inner {
    width: 570px;
    margin: 0 auto;
    padding: 0;
    -premailer-width: 570px;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    background-color: #FFFFFF;
    }
    .email-footer {
    width: 570px;
    margin: 0 auto;
    padding: 0;
    -premailer-width: 570px;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    text-align: center;
    }
    .email-footer p {
    color: #A8AAAF;
    }
    .body-action {
    width: 100%;
    margin: 30px auto;
    padding: 0;
    -premailer-width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    text-align: center;
    }
    .body-sub {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #EAEAEC;
    }
    .content-cell {
    padding: 45px;
    }
    /*Media Queries ------------------------------ */
    @media only screen and (max-width: 600px) {
    .email-body_inner,
    .email-footer {
    width: 100% !important;
    }
    }
    @media (prefers-color-scheme: dark) {
    body,
    .email-body,
    .email-body_inner,
    .email-content,
    .email-wrapper,
    .email-masthead,
    .email-footer {
    background-color: #333333 !important;
    color: #FFF !important;
    }
    p,
    ul,
    ol,
    blockquote,
    h1,
    h2,
    h3 {
    color: #FFF !important;
    }
    .attributes_content,
    .discount {
    background-color: #222 !important;
    }
    .email-masthead_name {
    text-shadow: none !important;
    }
    }
  //if mso
    style(type='text/css').
      .f-fallback  {
      font-family: Arial, sans-serif;
      }
  style(type='text/css', rel='stylesheet', media='all').
    body {
    width: 100% !important;
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: none;
    }
    body {
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    }
    body {
    background-color: #F2F4F6;
    color: #51545E;
    }
span.preheader(style='display: none !important; visibility: hidden; mso-hide: all; font-size: 1px; line-height: 1px; max-height: 0; max-width: 0; opacity: 0; overflow: hidden;')
  | Utilisez ce lien pour réinitialiser votre mot de passe. Le lien n'est valable que pour 24 heures.
table.email-wrapper(width='100%', cellpadding='0', cellspacing='0', role='presentation', style='width: 100%; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; background-color: #F2F4F6; margin: 0; padding: 0;', bgcolor='#F2F4F6')
  tr
    td(align='center', style='word-break: break-word; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px;')
      table.email-content(width='100%', cellpadding='0', cellspacing='0', role='presentation', style='width: 100%; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; margin: 0; padding: 0;')
        tr
          td.email-masthead(style='word-break: break-word; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px; text-align: center; padding: 25px 0;', align='center')
          if env == 'DEVELOPMENT' || env == 'LOCAL'
            a.f-fallback.email-masthead_name(href='https://dev.go-shops.fr' style='color: #A8AAAF; font-size: 16px; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 white;')
              img(src='https://go-shops.fr/img/horizontal-purple.2072da92.png', style='width:300px; height:150px', title='Shops', alt='Shops')
          else
            a.f-fallback.email-masthead_name(href='https://go-shops.fr' style='color: #A8AAAF; font-size: 16px; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 white;')
              img(src='https://go-shops.fr/img/horizontal-purple.2072da92.png', style='width:300px; height:150px', title='Shops', alt='Shops')
        // Email Body
        tr
          td.email-body(width='570', cellpadding='0', cellspacing='0', style='word-break: break-word; margin: 0; padding: 0; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px; width: 100%; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0;')
            table.email-body_inner(align='center', width='570', cellpadding='0', cellspacing='0', role='presentation', style='width: 570px; -premailer-width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; background-color: #FFFFFF; margin: 0 auto; padding: 0;', bgcolor='#FFFFFF')
              // Body content
              tr
                td.content-cell(style='word-break: break-word; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px; padding: 45px;')
                  .f-fallback
                    h1(style='margin-top: 0; color: #333333; font-size: 22px; font-weight: bold; text-align: left;', align='left') Bonjour #{username},
                    p(style='font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;')
                      | Vous avez récemment demandé à réinitialiser votre mot de passe pour votre compte Shops. Utilisez le bouton ci-dessous pour le réinitialiser. 
                      strong Ce lien n'est valide que pour les prochaines 24 heures.
                    // Action
                    table.body-action(align='center', width='100%', cellpadding='0', cellspacing='0', role='presentation', style='width: 100%; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; text-align: center; margin: 30px auto; padding: 0;')
                      tr
                        td(align='center', style='word-break: break-word; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px;')
                          table(width='100%', border='0', cellspacing='0', cellpadding='0', role='presentation')
                            tr
                                td(align='center', style='word-break: break-word; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px;')
                                a.f-fallback.button.button(href=resetUrl, target='_blank', style='color: #FFF; border-color: #aa44aa; border-style: solid; border-width: 10px 18px; background-color: #aa44aa; display: inline-block; text-decoration: none; border-radius: 3px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16); -webkit-text-size-adjust: none; box-sizing: border-box;') Réinitialiser votre mot de passe

                    p(style='font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;')
                      | Si vous n'avez pas demandé de réinitialisation de mot de passe, veuillez ignorer cet email ou 
                      if env == 'DEVELOPMENT' || env == 'LOCAL'
                        a(href='https://dev.go-shops.fr/contact', style='color: #3869D4;') contactez le support
                      else
                        a(href='https://go-shops.fr/contact', style='color: #3869D4;') contactez le support
                      |  si vous avez des questions.
                    p(style='font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;')
                      | Merci,
                      br
                      | L'équipe Shops
                    // Sub copy
                    table.body-sub(role='presentation', style='margin-top: 25px; padding-top: 25px; border-top-width: 1px; border-top-color: #EAEAEC; border-top-style: solid;')
                      tr
                        td(style='word-break: break-word; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px;')
                          p.f-fallback.sub(style='font-size: 13px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;')
                            | Si vous rencontrez des problèmes avec le bouton ci-dessus, copiez et collez l'URL ci-dessous dans votre navigateur Web.
                          p.f-fallback.sub(style='font-size: 13px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;') #{resetUrl}
        tr
          td(style='word-break: break-word; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px;')
            table.email-footer(align='center', width='570', cellpadding='0', cellspacing='0', role='presentation', style='width: 570px; -premailer-width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; text-align: center; margin: 0 auto; padding: 0;')
              tr
                td.content-cell(align='center', style='word-break: break-word; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px; padding: 45px;')
                  p.f-fallback.sub.align-center(style='font-size: 13px; line-height: 1.625; text-align: center; color: #A8AAAF; margin: .4em 0 1.1875em;', align='center') &copy; 2019 Shops. Tous droits r&eacute;serv&eacute;s.
                  p.f-fallback.sub.align-center(style='font-size: 13px; line-height: 1.625; text-align: center; color: #A8AAAF; margin: .4em 0 1.1875em;', align='center')
                    | Shops
                    br
                    | 5 rue d'Alger, 44000 Nantes, France